
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 255, 250);
}

main {
    flex: 1;
}

.navbar {
    height: 70px;
}

.nav-item {
    font-size: 20px;
    padding: 10px 15px;
    margin: 0px 5px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: rgb(203, 203, 203);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.active {
    background-color: rgb(229, 163, 101);
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0px 5px;
}
.navbar-brand{
    display: inline-flex;
}
img{
    mix-blend-mode: darken;

}
 h5{
margin-top:35px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 500;
font-size: 22px;
 } 


